A {
    color: #003366;
    text-decoration: underline;
}

A:link {
    color: #003366;
    text-decoration: underline;
}

A:visited {
    color: #003366;
    text-decoration: underline;
}

A:active {
    color: #999999;
}

A:hover {
    color: #999999;
}

.tdleft {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #ffffff;
	border-right-color: #ffffff;
	border-bottom-color: #ffffff;
	border-left-color: #ffffff;
	background: #ffffff;
}

.tdright {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #000000;
	background: #999999;
}

.title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: smaller;
	font-family: palatino, georgia, "new century schoolbook", "times new roman", serif;
	font-size: medium;
	color: #666;
	font-weight: bold;
}

.text {
	font-family: palatino, georgia, "new century schoolbook", verdana, arial, sans-serif;
	color: #333;
	font-size: smaller;
	font-weight: normal;
	backgrnd: #FFF;
	line-height: 120%;
	width: 600px;
}
